$color-code-background: #272822;
$color-code-color: #f8f8f2;

code {
    background: $color-code-background;
    color: $color-code-color;
    border-radius: 0.3em;
    padding: 4px 5px 6px;
    white-space: nowrap;
}

pre {
    code {
        white-space: pre;
    }
}